/* استایل کلی کارت‌ها */
.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.card {
  width: 30%;
  height: 300px; /* ارتفاع کارت‌ها */
  margin: 20px;
  perspective: 1000px;
}

.card-middle {
  height: 310px; /* کارت وسطی 10 پیکسل بلندتر */
}

.flip-box {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .flip-box {
  transform: rotateY(180deg); /* چرخش فقط برای کارتی که موس روی آن است */
}

.box-front,
.box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.box-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-image {
  width: 100%;
  height: 100%; /* ارتفاع تصویر متناسب با کارت */
  object-fit: cover;
}

.box-back {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent; /* پس‌زمینه شفاف برای پشت کارت */
  transform: rotateY(180deg);
}

.box-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* ایجاد یک لایه تیره برای خواندن متن */
  z-index: 1;
}

.card-back-text {
  color: white;
  font-size: 18px;
  text-align: center;
  z-index: 2;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* تنظیمات نمایش برای موبایل */
@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 300px; /* حفظ ارتفاع کارت در موبایل */
    margin: 10px 0;
  }

  .card-middle {
    height: 300px; /* برای موبایل ارتفاع کارت وسطی برابر بقیه کارت‌ها می‌شود */
  }
}

.jadid {
  position: relative;
  text-decoration: none;
}

.jadid::before {
  background: hsl(45 100% 70%);
  content: "";
  inset: 0;
  position: absolute;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}

.jadid:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
