@font-face {
  font-family: lalezar;
  src: url("../fonts/vazir/Vazir-Light.eot") format("embedded-opentype"),
    url("../fonts/vazir/Vazir-Light.woff") format("woff"),
    url("../fonts/vazir/Vazir-Light.woff2") format("woff2"),
    url("../fonts/vazir/Vazir-Light.ttf") format("truetype");
}
body {
  font-family: "lalezar", Arial, sans-serif;
  font-weight: normal;
}
.bg-login {
  background: #df8e71;
  background: linear-gradient(to right, #8c433b, #ea9086);
}
